.topicAnswerResult {
  display: inline-block;
  width: 25vw;
  padding: 0px 50px;
}

.voteResult {
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.topicAnswer {
  font-size: 16px;
  font-weight: bold;
  width: auto;
  padding: 7px;
  color: black;
  background-color: white;
  border: double 5px #0074ff;
  border-radius: 8px;
}

.topicAnswerResult button {
  padding: 10px 20px;
  border: solid 2px white;
  font-weight: bold;
  color: white;
  border-radius: 16px;
}

.goodPanel {
  background-color: #fc20c0;
}

.badPanel {
  background-color: #0074ff;
}

.twitterShare {
  padding: 15px;
  color: white;
  font-weight: bold;
  background-color: #1da1f1;
  border-radius: 16px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.commentShare {
  padding: 15px;
  font-size: 16px;
  width: 200px;
  font-weight: bold;
  background-color: white;
  color: black;
  margin: 0 auto;
  border-radius: 8px;
  border: solid 2px black;
}
