.guidePage {
  text-align: center;
  padding: 50px;
  background-color: #fe48c6;
  width: 100vw;
  height: 100vh;
}

.guidePage h1 {
  position: relative;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.guidePage p {
  position: relative;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.guidePage h3 {
  position: relative;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.guidePage img {
  width: 300px;
  height: 300px;
}
