@use "src/index.scss";

.preparePanel {
  position: absolute;
  z-index: 600;
  top: 12vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100vh;
  height: 75vh;

  img {
    display: block;
    width: 100%;
    height: auto;
    border: 4px solid index.$black;
    border-radius: 24px;
    transform: rotate(3deg);
    animation: idleAnime 4s ease-in-out 0.00001s infinite normal;
  }
}

@keyframes idleAnime {
  0% {
    transform: rotate(3deg);
  }
  80% {
    transform: rotate(3deg);
  }
  85% {
    transform: rotate(-2deg);
  }
  95% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(3deg);
  }
}

.enter {
  opacity: 0;
  transform: rotateZ(0deg);
}

.enterActive {
  opacity: 1;
  transform: rotateZ(360deg);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.enterDone {
  visibility: visible;
  opacity: 1;
  transform: rotateZ(360deg);
}

.exit {
  opacity: 1;
  transform: rotateZ(360deg);
}

.exitActive {
  opacity: 0;
  transform: rotateZ(0deg);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.exitDone {
  visibility: hidden;
  opacity: 0;
  transform: rotateZ(0deg);
}
