.topicAnswerPanel {
  position: relative;
  margin: 0 auto;
  width: 60vw;
  height: 60vh;
  background-color: #ffffff;
}

.topic {
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  border: solid 2px black;
  padding: 5px 15px;

  background-color: #ffffff;
}

.answerAPanel {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 40%;
  height: 80%;
  background-color: #fe48c6;
}

.choiceA {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
}

.answerA {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

.voteResult {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}

.answerBPanel {
  position: absolute;
  top: 15%;
  right: 5%;
  width: 40%;
  height: 80%;
  background-color: #2842db;
}

.readyVisual {
  z-index: 3;
  position: absolute;
  margin: 0 auto;
  width: 60vw;
  height: 60vh;
  left: 20%;
}

.timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.countdown {
  padding: 15px;
  font-size: 22px;
  font-weight: bold;
  background-color: white;
  color: black;
  border-radius: 8px;
  border: solid 2px black;
}
