@use "src/index.scss";

.topicAnswerPanel {
  position: absolute;
  z-index: 200;
  top: 10vh;
  left: 10%;
  padding-top: 5vh;
  width: 80%;
  height: 80vh;
  min-height: 80vh;
}

.topicText {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 10%;
  width: 80%;
  padding: 1vw 2vw;
  text-align: center;
  font-size: 4vw;
  font-weight: bold;
  background-color: index.$white;
}

.answersWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  min-height: 100%;
  text-align: center;
  color: index.$white;
}

.answerA,
.answerB {
  width: 100%;
  height: 100%;
  padding-top: 5vh;
}

.answerA {
  background-color: index.$pink;
}

.answerB {
  background-color: index.$blue;
}

.choice {
  font-weight: bold;
  font-size: 8vw;
}

.answer {
  padding: 0 2vw;
  font-size: 5vw;
}

.voteResult {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}

.readyVisual {
  z-index: 3;
  position: absolute;
  margin: 0 auto;
  width: 60vw;
  height: 60vh;
  left: 20%;
}

.timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.countdown {
  padding: 15px;
  font-size: 22px;
  font-weight: bold;
  background-color: white;
  color: black;
  border-radius: 8px;
  border: solid 2px black;
}
