@use "src/index.scss";

.topicAnswerPanel {
  position: absolute;
  z-index: 200;
  top: 2vh;
  left: 7%;
  padding-top: 8vh;
  width: 86%;
  height: 90vh;
  min-height: 90vh;
}

.topicText {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 10%;
  width: 80%;
  padding: 1vw 2vw;
  text-align: center;
  font-size: 3vw;
  font-weight: bold;
  background-color: index.$white;
  border: 3px solid index.$black;
  border-radius: 10px;
  box-shadow: 0px 5px 5px 1px rgb(0, 0, 0, 30%);
}

.answersWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  min-height: 100%;
  text-align: center;
  color: index.$white;
}

.answerA,
.answerB {
  display: grid;
  grid-template-rows: 2fr 3fr 2fr;
  align-items: center;
  padding: 5vh 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding-top: 5vh;
  border-top: 3px solid index.$black;
  border-bottom: 3px solid index.$black;
}

.answerA {
  background-color: index.$pink;
  border-radius: 24px 0px 0px 24px;
  border-left: 3px solid index.$black;
}

.answerB {
  background-color: index.$blue;
  border-radius: 0px 24px 24px 0px;
  border-right: 3px solid index.$black;
}

.choice {
  font-weight: bold;
  font-size: 5vw;
}

.answer {
  padding: 0 2vw;
  font-size: 4vw;
  font-weight: bold;
}

.result {
  font-size: 8vw;
  font-weight: bold;
}
