@use "src/index.scss";
@use "UserCommon.module.scss";

.buttonPanel {
  margin-top: 10px;
  width: 100%;
}

input[type="radio"] {
  display: none;
}

.buttonPanelA {
  position: relative;
  display: inline-block;
  width: 50%;
  text-align: center;

  input[type="radio"] + label {
    display: inline-block;
    background-image: url("../../images/user/button-a.png");
    background-size: contain;
    height: 220px;
    width: 220px;
  }

  input[type="radio"]:checked + label {
    background-image: url("../../images/user/button-a-selected.png");
    background-size: contain;
    color: index.$white;
    height: 220px;
    width: 220px;
  }

  .topicAnswer {
    position: absolute;
    top: 78%;
    left: 50%;
    font-weight: bold;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: index.$white;
  }
}

.buttonPanelB {
  position: relative;
  display: inline-block;
  width: 50%;
  text-align: center;

  input[type="radio"] + label {
    display: inline-block;
    background-image: url("../../images/user/button-b.png");
    background-size: contain;
    height: 220px;
    width: 220px;
  }

  input[type="radio"]:checked + label {
    background-size: contain;
    background-image: url("../../images/user/button-b-selected.png");
    color: index.$white;
    height: 220px;
    width: 220px;
  }

  .topicAnswer {
    position: absolute;
    top: 78%;
    left: 50%;
    font-weight: bold;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: index.$white;
  }
}
