@use "src/index.scss";
@use "UserCommon.module.scss";

.feedbackPanel {
  width: 100%;

  div {
    display: inline-block;
    width: 50%;

    img {
      display: block;
      width: 50%;
      height: auto;
      margin: 0 auto;
    }
  }
}
