@use "src/index.scss";
@use "UserCommon.module.scss";

.feedbackPanel {
  width: 100%;
  user-select: none;

  div {
    display: inline-block;
    width: 50%;

    img {
      display: block;
      width: 100%;
      max-width: 160px;
      height: auto;
      margin: 0 auto;
      transform: rotate(-10deg);
    }

    &:active {
      transform: translateY(5px);
    }
  }
}
