@use "src/index.scss";
@use "UserCommon.module.scss";

.topicAnswerResult {
  position: relative;
  display: inline-block;
  width: 50%;
  text-align: center;
}

.voteResult {
  display: inline-block;
  width: 25%;
  padding: 6px 10px;
  font-weight: bold;
  border: 2px solid index.$black;
  border-radius: 6px;
}
