/* 個別にモジュールを作るほどでもない場合はここに記述する */
@use "src/index.scss";

.title {
  text-align: center;
  margin-top: 10px;
  padding: 12px 10px;
  font-weight: bold;
  border: 2px solid index.$black;
  border-radius: 6px;
  background-color: index.$white;
}

.guide {
  text-align: center;
  margin-top: 15px;
}

.innerText {
  display: inline-block;
  padding: 12px 10px;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid index.$black;
  border-radius: 6px;
  background-color: index.$white;
  margin-top: 15px;
  animation: idleAnime 4s ease-out 0.00001s infinite normal;
}

@keyframes idleAnime {
  0% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-3deg);
  }
  90% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Tally Votes ----------------------------------- */
.topicAnswerResult {
  position: relative;
  display: inline-block;
  width: 50%;
  text-align: center;
  margin-top: 15px;
}

.voteResult {
  display: inline-block;
  width: 100%;
  max-width: 120px;
  padding: 6px 10px;
  font-weight: bold;
  border: 2px solid index.$black;
  border-radius: 6px;
  background-color: index.$white;
}

/* Share to Twitter ----------------------------------- */
.shareButtonPanel {
  width: 100%;
  text-align: center;
  margin-top: 20px;

  .shareButton {
    display: inline-block;
    background-color: #2fa1f2;
    padding: 8px;
    color: index.$white;
    font-weight: bold;
    border-radius: 32px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);

    img {
      display: inline-block;
      width: 32px;
      height: 32px;
    }

    .buttonText {
      height: 32px;
      line-height: 32px;
    }
  }
}
