@use "src/index.scss";

.preparationPanel {
  p {
    text-align: center;
  }
}

.guide {
  margin-top: 10px;
  padding: 12px 10px;
  border: 1px solid index.$black;
  border-radius: 6px;
}

.title {
  text-align: center;
  margin-top: 15px;
}

.innnerText {
  display: inline-block;
  padding: 12px 10px;
  font-size: 20px;
  border: 1px solid index.$black;
  border-radius: 6px;
}

img {
  padding-top: 10px;
}
