/* 個別にモジュールを作るほどでもない場合はここに記述する */
@use "src/index.scss";

.title {
  text-align: center;
  margin-top: 10px;
  padding: 12px 10px;
  font-weight: bold;
  border: 2px solid index.$black;
  border-radius: 6px;
  background-color: index.$white;
}

.guide {
  text-align: center;
  margin-top: 15px;
}

.innerText {
  display: inline-block;
  padding: 12px 10px;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid index.$black;
  border-radius: 6px;
  background-color: index.$white;
}

.topicAnswerResult {
  position: relative;
  display: inline-block;
  width: 50%;
  text-align: center;
}

.voteResult {
  display: inline-block;
  width: 30%;
  padding: 6px 10px;
  font-weight: bold;
  border: 2px solid index.$black;
  border-radius: 6px;
  background-color: index.$white;
}

.shareButtonPanel {
  width: 100%;
  text-align: center;
  margin-top: 15px;

  .shareButton {
    display: inline-block;
    background-color: #2fa1f2;
    padding: 8px;
    color: index.$white;
    font-weight: bold;
    border-radius: 32px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);

    img {
      display: inline-block;
      width: 32px;
      height: 32px;
    }

    p {
      display: inline-block;
      height: 32px;
      line-height: 32px;
    }
  }
}
