@use "src/index.scss";

.adminPage {
  width: 60vw;
  margin: 0 auto;
}

.adminPageTitle {
  font-size: 36px;
  line-height: 1.7;
  font-weight: bold;
  padding-top: 20px;
}

.title {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 15px;
  font-weight: bold;
}

.addTopicButton,
.removeButton,
.logoutButton,
.changePhaseButton {
  background-color: index.$blue;
  color: index.$white;
  font-size: 14px;
  padding: 2px 5px;
  margin-right: 5px;
  border-radius: 5px;
}

.currentTopicPanel,
.handlePhase,
.setTopic,
.ListOfTopicAndAnswer {
  padding: 20px;
  margin: 20px 0px;
  border: 2px solid index.$black;
  border-radius: 10px;
  background-color: index.$white;
}

/* 現在のお題 ----------------------------------- */
.currentTopicPanel {
  display: grid;
  grid-template-columns: auto 1fr;

  .title {
    grid-column: 1 / 3;
  }
  .currentTopicHeader {
    font-weight: bold;
    margin-right: 15px;
  }
}

/* フェーズ切り替え ----------------------------------- */
.handlePhase {
  display: grid;
  grid-template-columns: auto 1fr;

  .title,
  .currentPhase {
    grid-column: 1 / 3;
  }
  .changePhaseButton {
    margin-top: 10px;
    margin-left: 10px;
    width: auto;
  }
  .phaseName {
    margin-top: 10px;
  }
  .currentPhase {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bolder;
  }
}

/* お題設定 ----------------------------------- */
.setTopic {
  display: grid;
  grid-template-columns: auto 1fr;

  .title {
    grid-column: 1 / 3;
  }

  .writeTopic {
    margin-top: 5px;
    border: 1px solid rgb(17, 17, 17, 16%);
    border-radius: 4px;
    padding: 2px;
  }

  .writeName {
    margin-top: 5px;
    padding: 3px;
  }

  .addTopicButton {
    margin-top: 10px;
  }
}

/* お題と回答一覧 ----------------------------------- */
.ListOfTopicAndAnswer {
  .topicAndAnswer {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 15px 5px;
    border-bottom: 1px solid rgb(17, 17, 17, 16%);
  }

  .listButtons {
    margin-top: 10px;
    grid-column: 1 / 3;
  }

  .removeButton {
    background-color: index.$pink;
  }

  .topicItemName {
    font-weight: bold;
    margin-right: 10px;
  }
}

/* ログアウトボタン ----------------------------------- */
.logoutButton {
  background-color: index.$pink;
  margin-bottom: 5px;
}
