@use "src/index.scss";

.userPage {
  position: relative;
  width: 50%;
  height: 100vh;
  min-height: 100vh;
  margin: 0 auto;
  align-items: center;

  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
