$black: #111111;
$white: #fafafa;
$blue: #2842db;
$pink: #fe48c6;
$yellow: #fae500;

:root {
  font-size: 16px;
  line-height: 1.5;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
  background-color: $yellow;
  background-image: url("./images/bg-mesh.png");
  background-repeat: repeat;
}

#root {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}
